/__pycache__
/.ipynb_checkpoints
/graph-extract-master
/Graphs_google
/pdf_in
/Dataset_out
/temp1
/temp2
/temp3
/tempGraph
/Test_Dir
temp2.jpg
thres.jpg
image.jpg
crop_image_from_axis.ipynb
graph_1.csv
num_reader.py
output.png
remove_grid.ipynb
test.png
Test.ipynb
test.log
27.jpg
graph_1.png
SKA-AK-ER300-P-CA-0001.pdf